@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    background-color: darkgoldenrod;
    color: maroon;
    font-size: 1.5em;
}

h2 {
    color: darkred;
    font-size: 1.2em;
}

p {
    text-align: justify;
}